ol li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em {
    font-weight:bold;
}

.listagem {
    color: blue;
}

.java {
    background-color:pink;
}

.item-bonus:hover {
    font-weight: bolder;
}

#stack:hover {
    background-color: orange;
}

#w3s:hover {
    background-color: green;
}

#mdn:hover {
    background-color: black;
}

#dev:hover {
    background-color: yellow;
}

#trybe:hover {
    background-color: green;
}
