table, th, td {
    border: solid 1px black;
}

table {
    width: 50%;
}

#aside-video {
    float: right;
    display: block;
    border: solid 3px red;
    height: 200px;
    padding-top: 150px;
    background-color: black;
    background-size: contain;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer p {
    text-align: center;
}

.indice {
    text-decoration: none;
    display: block;
    color: blue;
    margin-top: 10px;
}
